.dashboard-subtitulo{

    color:#64748b;

    margin-bottom:30px;

}

.estadisticas{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}

@media(max-width:900px){

    .estadisticas{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:600px){

    .estadisticas{

        grid-template-columns:1fr;

    }

}