.panel{

    background:white;

    margin-top:25px;

    padding:25px;

    border-radius:18px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.fila{

    display:flex;

    justify-content:space-between;

    padding:16px 0;

    border-bottom:1px solid #eee;

}