.navbar{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    box-shadow:0 2px 10px rgba(0,0,0,.05);

}

.navbar h2{

    margin:0;

}

.navbar-subtitulo{

    margin-top:5px;

    color:#64748b;

    font-size:14px;

}

.navbar-usuario{

    display:flex;

    align-items:center;

    gap:15px;

}

.navbar-avatar{

    width:48px;

    height:48px;

    border-radius:50%;

    background:#2563eb;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:20px;

    font-weight:bold;

}

.navbar-usuario p{

    margin:0;

    color:#64748b;

    font-size:13px;

}